body {
    background-color: #1E8564;
}

.btn-outline-work {
    border: 2px solid #1E8564;
}

.btn-outline-work:hover {
    background-color: #1E8564;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(191, 158, 103, 0.15);
}

.auth-form {
    margin-top: 20vh;
    background-color: #F8F8FF;
}

a {
    color: #1E8564;
}

a:hover {
    text-decoration: none;
    color: #1E8564;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1E8564;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(30, 133, 100, 0.16);
}

