.chat-header {
    font-size: 1rem;
    font-weight: bold;
}

.chat-container {
    border: 2px #1B89B1 solid;
    height: 27rem;
    background: #F8F8FF;
    border-radius: 0.25rem;
    margin-top: 1rem;
    overflow-y: auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

.message-companion {
    clear: both;
    float: left;
    margin-left: 0.3rem;
    padding: 0.2rem;
    word-wrap: break-word;
    display: inline-block;
    color: white;
    border-radius: 1rem;
    background: #1E8564;
    max-width: 70%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
}

.message-time-companion {
    font-size: 0.5rem;
    color: white;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.message-writer-ref-companion {
    color: whitesmoke;
    padding-left: 0.5rem;
    font-weight: bold;
}

.message-writer-ref-companion:hover {
    color: whitesmoke;
}

.message-content-companion {
    padding-left: 0.2rem;
    color: white;
}

.message {
    clear: both;
    float: right;
    margin-right: 0.3rem;
    padding: 0.2rem;
    word-wrap: break-word;
    display: inline-block;
    border-radius: 1rem;
    background: #1B89B1;
    max-width: 70%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
}

.message-time {
    clear: both;
    float: right;
    font-size: 0.5rem;
    color: white;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.message-writer-ref {
    clear: both;
    float: right;
    color: whitesmoke;
    padding-right: 0.5rem;
    font-weight: bold;
}

.message-writer-ref:hover {
    color: whitesmoke;
}

.message-content {
    padding-left: 0.2rem;
    clear: both;
    color: white;
}

.message-textarea {
    width: 71%;
    resize: none;
    margin-top: 0.5rem;
    height: 3rem;
    outline: none;
    border-radius: 0.5rem;
    border: 2px #1B89B1 solid;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

.btn-send-msg {
    display: block;
    color: #fff;
    width: 26%;
    height: 3rem;
    background-color: #1B89B1;
    border-color: #1B89B1;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

.ajax-preload-chat {
    margin-top: 0.2rem;
    position: absolute;
    margin-left: 42%;
}

.icon-chat {
    border-radius: 0.5rem;
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
}

.min-h-chat-header {
    min-height: 3rem;
}