.message-on-wall-textarea {
    display: block;
    width: 71%;
    resize: none;
    margin-top: 0.5rem;
    height: 3rem;
    outline: none;
    border-radius: 0.25rem;
    border: 2px #1B89B1 solid;
}

.btn-send-msg {
    display: block;
    color: #fff;
    width: 26%;
    height: 3rem;
    background-color: #1B89B1;
    border-color: #1B89B1;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

.message-on-wall {
    word-wrap: break-word;
    border-radius: 0.25rem;
    background: #F8F8FF;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.message-on-wall-time {
    font-size: 0.5rem;
    margin-bottom: -0.4rem;
}

.message-on-wall-writer-ref {
    color: #1E8564;
    font-weight: bold;
}

.message-on-wall-content {
    /*color: black;*/
}

.content-wall-col {
    margin-top: -2%;
    margin-bottom: -2%;
}

.img-wall-col {
    margin: -3% -15px;
}