.last-message-in-dialog {
    display: block;
    overflow: hidden;
    font-size: 0.7rem;
    color: black;
}

.dialog {
    word-wrap: break-word;
    border-radius: 0.25rem;
    background: #F8F8FF;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.img-dialog-col {
    margin: -3% -15px;
}

.content-dialog-col {
    margin-top: -1%;
    margin-bottom: -2%;
}

.dialog-last-message-time {
    font-size: 0.5rem;
    margin-bottom: -0.4rem;
}