body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

td {
    width: 15rem;
}

a:hover,
a {
    color: #1E8564;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}

.btn-search-panel {
    color: #fff;
    background-color: #1B89B1;
    border-color: #1B89B1;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(127, 127, 127, 0.29);
}

.btn-search-panel:hover {
    color: #fff;
    background-color: #1B89B1;
    border-color: #1B89B1;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(185, 185, 185, 0.62);
}

.btn-work {
    color: #fff;
    background-color: #1B89B1;
    border-color: #1B89B1;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

.btn-input-file {
    color: #fff;
    background-color: #dad7d2;
    border-color: #325ca7;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.3rem;
}

.btn-form, .btn-form:hover {
    color: #878986;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.3rem;
    width: 8rem;
    border: 2px solid rgba(32, 42, 29, 0.8);
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #F8F8FF;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
}

.text-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
}

.badge-success {
    color: #fff;
    background-color: #1E8564;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    outline: none;
    background-color: #1E8564;
    border-color: #1E8564;
}

.mt-25 {
    margin-top: 0.75rem !important;
}

.form-control-work {
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.form-control-found {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 50%;
    padding-left: 0.5rem;
    background-color: #F8F8FF;
}

.main-bg {
    display: block;
    padding-top: 3rem;
    min-height: 100vh;
    height: auto;
    background: #F8F8FF;
    box-shadow: 0 0 10px #d4d4dc; !important;
    position: relative;
}

.text-menu {
    color: #1E8564;
}

label.error {
    font-size: 0.7rem;
    padding-left: 2rem;
    font-weight: bold;
    color: #c71422;
}

.error-status {
    font-size: 0.7rem;
    padding-left: 2rem;
    font-weight: bold;
    color: #c71422;
}

input.error {
    border-color: #c71422;
}

.remove-button {
    color: #eeffe8;
    background-color: #1E8564;
    border-color: #1E8564;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
}

.form-work {
    margin-bottom: 0.5rem;
}

.btn-select {
    color: #1E8564;
    border-color: #ced4da;
    font-size: 0.6rem;
    line-height: 1.2rem;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.btn-select:hover {
    color: #1E8564;
    border-color: #ced4da;
    text-decoration: none;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

.icon-autocomplete {
    float: left;
    border-radius: 0.3rem;
    margin-right: 4px;
    max-width: 32px;
    max-height: 32px;
    position: absolute;
}

.icon-friends {
    border-radius: 0.5rem;
    max-width: 3.5rem;
    max-height: 4rem;
    margin-right: 0.5rem;
}

.icon-list {
    border-radius: 0.5rem;
    width: 2rem;
    height: auto;
    margin: -0.4rem 0.7rem -0.5rem -0.5rem;

}

.icon-on-wall {
    border-radius: 0.5rem;
    width: 2rem;
    height: auto;
    margin-right: 0.7rem;
    margin-left: -0.5rem;
}

.item {
    background-color: #F8F8FF;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.icon-dialog {
    border-radius: 0.5rem;
    width: 2rem;
    height: auto;
    margin-right: 0.7rem;
    margin-left: -0.5rem;
}

.photo {
    border-radius: 0.25rem;
}

#paginationAccount {
    display: inline-block;
    margin-bottom: 1.75em;
}

#paginationAccount li {
    display: inline-block;
}

.ajax-preload {
    padding: 6.7rem;
}

.found-container {
    height: 16rem;
}

.nav-bg {
    background-color: #1E8564;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-form {
    margin: auto;
    width: 25%;
    display: block;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F8F8FF;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); !important;
}

.ui-autocomplete {
    max-height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
}

.preloader {
    height: 3rem;
}

.text-autocomplete {
    padding: 5px 5px 5px 37px;
}

.ui-datepicker {
    z-index: 1000 !important;
}

.mb-ng-1 {
    margin-bottom: -0.5rem;
}

.m-ng-1 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.m-ng-2 {
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
}

.min-h {
    min-height: 2rem;
}

.min-h-found {
    height: 4rem;
}

.min-w-found {
    width: 4rem;
}