body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

.text-body {
    color: rgba(0, 0, 0, 0.99);
    font-size: 0.9rem;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.69);
}

.main-bg {
    display: block;
    min-height: 100vh;
    height: auto;
    background: #F8F8FF;
    box-shadow: 0 0 10px #d4d4dc; !important;
}

.form-work {
    margin-bottom: 0.5rem;
}

.btn-select {
    color: #1E8564;
    border-color: #ced4da;
    font-size: 0.6rem;
    line-height: 1.2rem;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.btn-select:hover {
    color: #1E8564;
    border-color: #ced4da;
    text-decoration: none;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

.form-control-work {
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.remove-button {
    color: #eeffe8;
    background-color: #1E8564;
    border-color: #1E8564;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
}

.btn-work {
    color: #fff;
    background-color: #1B89B1;
    border-color: #1B89B1;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.29);
}

label.error {
    font-size: 0.7rem;
    padding-left: 2rem;
    font-weight: bold;
    color: #c71422;
}

.error-status {
    font-size: 0.7rem;
    font-weight: bold;
    color: #c71422;
}

.ui-datepicker {
    z-index: 10000 !important;
}

.btn-form, .btn-form:hover {
    color: #878986;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.3rem;
    width: 8rem;
    border: 2px solid rgba(32, 42, 29, 0.8);
}